.jumbotron {
  text-align: center;
}
.btn-fb {
  background-color: #3B5998;
  color: #fff;
  padding: 10px;
  &:hover {
    color: #fff;
  }
}
.required-label:after {
  content: " *";
  color: red;
}
