#toast-container > .toast-success {
  background-image: none !important;
  background-color: green;
}
#toast-container > .toast-error {
  background-image: none !important;
  background-color: red;
}
